.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/public/Font\ 1.jpg'); /* Ruta a la imagen de fondo */
  background-size: cover;
  background-position: center;
  color: #ffffff; /* Color del texto para que sea legible sobre la imagen */
  text-align: center;
  padding: 20px;
}
  
  .login-form {
    background-color: rgba(54, 54, 54, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 400px;
    margin-top: 20px;
    border: 2px solid #ffc107; /* Marco amarillo */
  }
  
  .login-form h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  
  .form-group input {
    width: 389px;
    padding: 12px;
    border: 1px solid #ffc107;
    border-radius: 15px;
    font-size: 1em;
    background-color: rgba(187, 186, 186, 0.1);
    color: #ffffff;
    
  }
  
  .login-form a {
    display: block;
    text-align: center;
    font-size: 1em;
    margin-bottom: 20px;
    color: #87ceeb;
    text-decoration: none;
  }
  
 

